@import url(//fonts.googleapis.com/css?family=Muli);

body {
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;

}

p {
    line-height: 1.8;
}

a {
    color:#1297c0;
    text-decoration:none;
}

a:hover {
    color:#1d657a;
}

h1, h2, h3, h4, h5 , h6 { font-family: 'Muli', sans-serif; font-weight:normal; }

h1 {
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
    margin:10px 0 20px 0;
}

h2 {
    margin:30px 0 20px;
}

ol {
    line-height:1.5;
}

#header {
    padding:10px 100px;
    font-size:14px;
    background:#1297c0;
    color:#fff;
    border-bottom:4px solid #1297c0;
    overflow:auto;
}

#header .logo {
    font-family: 'Muli', sans-serif;
    float:left;
    color:#f3f7cc;
    font-size:20px;
    margin-right:7%;
    margin-top: 15px;
}

#header .logo-main {
    width: 60px;
    margin-right: 7%;
    float:left;
}

#header ul.menu {
    list-style:none;
    float:left;
    margin:2;
    padding:0;
    margin-left: 10px;
}
#header ul.menu li {
    float:left;
    padding:20px 20px;
    margin-left: 10px;
}

#header ul.menu li.selected a, #header ul.menu li.selected a:hover {
    color:#0d495c;
    font-weight:bold;
}

#header a {
    color:#f3f7cc;
    text-decoration: none;
}
#header a:hover {
    color:#fff;
}

#header .user {
    float:right;
    padding-top:15px;
}

#content {
    padding:30px 100px;
}

/* forms */
form {
    overflow:auto;
}

form p {
    width:100%;
    overflow:auto;
}

label {
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px;
}
input, textarea {
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#efefef;
    border:0;
    padding:6px 10px;
    font-size:14px;
}

button[type=submit] {
    font-weight:bold;
    background:rgb(187, 21, 21);
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    border:0;
    text-transform:uppercase;
    
}

input[type=submit], a.button {
    font-weight:bold;
    background:#1297c0;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase;
}
.errorlist {
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px;
}
.helptext {
    margin:0 0 20px 0;
    color:#aaa;
    clear:both;
    float:left;
    font-size:13px;
}
/* messages */
ul.messages {
    margin:10px 100px;
    padding:0;
    list-style-type:
    none;
}
ul.messages li.success,
ul.messages li.warning,
ul.messages li.error,
ul.messages li.info {
    margin:0;
    padding:14px 20px;
    list-style:none;
    color:#fff;
}

ul.messages li.success { background:#81ce81; }
ul.messages li.success a { color:#0ac33e; }

ul.messages li.error { background:#a30029; color:#e9828e; }
ul.messages li.error a { color:#e9828e; }

ul.messages li.info { background:#faffae; color:#696b4e; }
ul.messages li.info a { color:#1586de; }

ul.messages li.warning { background:#de9404; }
ul.messages li.warning a { color:#f49000; }

ul.messages li a.close {
    margin:0;
    float:right;
    opacity:1;
    border:0;
    box-shadow:none;
    text-shadow:none;
}

.login-form {
    float:left;
}

img.user-detail {
    border-radius:50%;
    float:left;
}

.profile-info {
    float:left;
    overflow:auto;
    margin-right:20px;
}
.image-container { margin-top:40px; }

.profile-photo {
    border-radius: 20px;
    width: 30px;
}

.profile-photo-edit {
    border-radius: 50%;
    width: 220px;
}


table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
    color: black;
    padding:10px;
    background: #1297c0;
    color: white;
  }
  
table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
table th,
table td {
    padding: .625em;
    text-align: center;
  }
  
table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #1297c0;
  }
  
@media screen and (max-width: 600px) {
    table {
        border: 0;
    }
    
    table caption {
        font-size: 1.3em;
    }
        
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
        
    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
        
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }
        
    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
        
    table td:last-child {
        border-bottom: 0;
    }
}

.containercard {
    float:left;
    padding-top: 20px;
    padding-left: 10px;
}

.card-container {
    float:left;
    padding-top: 20px;
    padding-left: 10px;
  }

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle at 12.3% 19.3%, rgb(18, 151, 192) 0%, rgb(95, 209, 249) 100.2%);
    border-radius: 8px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1), 1px 1px 6px 0px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-family: "Courier New", Monospace;
    font-weight: bold;
    height: 200px;
    overflow: hidden;
    padding: 20px;
    width: 325px;
    box-sizing: border-box;

    
}
  
.card__number {
    margin-top: 80px;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 4px;
    text-shadow: 1px 1px 1px rgba(81, 81, 81, 0.4);
}
  
.card__info {
    display: flex;
    margin-top: 30px;
    span {
      display: block;
      font-size: 11px;
      font-weight: normal;
      margin-bottom: 5px;
      text-shadow: none;
    }
}
  
.card__info__name,
.card__info__expire {
    font-size: 15px;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(81, 81, 81, 0.4);
}
  
.card__info__name {
    flex-grow: 1;
    margin-right: 10px;
}

  
.card--empty,
.card__add {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card--empty {
    background: none;
    box-shadow: none;
    border: 2px dashed #00AEEF;
}
.card__add {
    background: #00AEEF;
    border: 1px solid #04ADE4;
    border-radius: 100%;
    font-size: 30px;
    font-weight: bold;
    height: 50px;
    width: 50px;
}
.card__text {
    color: #939393;
    display: block;
}

.logocard {
    width: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
}

footer {
    background-color: #efefef; 
    padding: 10px; 
    margin-top: auto;
    text-align: center; 
}

.foot-copy {
    padding-top: 11px;
    color: #333; 
}


@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

.box-container {
  float:left;
  padding-top: 20px;
}

.logobox {
    width: 40px;
    float: right;
}

.box {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 300px;
  background: radial-gradient(circle at 12.3% 19.3%, rgb(18, 151, 192) 0%, rgb(95, 209, 249) 100.2%);
  color: white;
  border-radius: 8px;
  padding: 0 30px;
  margin-bottom: 40px;
  margin-right: 40px;
}

.box-details {
  display: flex;
  justify-content: flex-start;
}

.box-section {
  flex: 0 0 50%;
}

.box-footer {
  width: 100%;
  border-top: 2px solid #f1f1f1;
  margin-top: 30px;
  align-self: flex-end;
  text-align: center; 
}

.box-footer h4{
    opacity: 0.6;
}

.box-footer h4:hover {
    opacity: 2;
  }

.box-footer a {
    font-weight: bold;
    color: white; 
}


.containerbox {
    padding-top: 20px;
    display: block;
}

.box--empty,
.box__add {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box--empty {
    background: none;
    box-shadow: none;
    border: 2px dashed #00AEEF;
}
.box__add {
    background: #00AEEF;
    border: 1px solid #04ADE4;
    border-radius: 100%;
    font-size: 30px;
    font-weight: bold;
    height: 50px;
    width: 50px;
}

.header {
    text-align: center;
    padding-bottom: 20px;
}

.header img {
    width: 400px;
    display: inline-block;
}

.profile {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 20px;
}

.profile img {
    width: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info h2, .profile-info p {
    margin: 5px 0;
}


#brand{
  
    height: 43px;
    width: 43px;
  }
  
  .navigation{
    margin: 0px 10px 0px 0px;
    background: none;
    border: none;
  }
  
  .scrollNavigation{
    margin: 0px 10px 0px 0px;
    background: #333333;
    border: none;
    width: 100%;
  }
  
  #menuText{
    font-weight: 100;
    font-size: 20px;
    padding: 10px 30px 10px 0px;
  }
  
  #navButton{
     font-weight: 100;
    font-size: 20px;
    border: none;
    padding: 10px 15px 15px 10px;
    border-radius:0%;
    background: #1297c0;
  }
  
  #navButton:hover{
    font-weight: 100;
    font-size: 20px;
    background: #1297c0;
    border: none;
    padding: 10px 15px 15px 10px;
    border-radius:2%;
  }
  
  
  .intro-header {
      padding-top: 50px; 
      padding-bottom: 50px;
      text-align: center;
      color: #f8f8f8;
      background:linear-gradient(
        rgba(60, 199, 187, 0.70),
        rgba(51, 163, 189, 0.80)
      ),  url("https://static.pexels.com/photos/50987/money-card-business-credit-card-50987-large.jpeg");
    background-size: cover;
    
  }
  
  .intro-message {
      position: relative;
      padding-top: 15%;
      padding-bottom: 20%;
  }
  
  .intro-message > h1 {
      margin-top: -500;
      font-size: 3em;
      font-weight: 200;
   
  }
  
  
  #button{
    margin-top: 30px;
    background: #1297c0;
    border: none;
    border-radius: 0%;
    padding: 15px 15px 15px 15px;
    
  }
  
  #button-white{
    margin-top: 30px;
    background: white;
    color: #1297c0;
    border: none;
    border-radius: 0%;
    padding: 15px 15px 15px 15px;
    
  }
  
  
  #button:hover{
    margin-top: 30px;
    border: none;
    border-radius: 0%;
    padding: 15px 15px 15px 15px;
    
  }
  
  .network-name {
      text-transform: uppercase;
      font-size: 17px;
      font-weight: 500;
      font-family: 'lato';
      letter-spacing: 2px;
  }
  
  .content-section-a {
      padding: 80px 0;
      background: #FCFBF9;
  }
  
  .content-section-b {
      padding: 50px 0;
      background-color: white;
     
  }
  
  .content-section-c {
      padding: 80px 0;
      background: #FCFBF9;
  }
  
  .content-section-d {
      padding: 50px 0;
      background-color: #1297c0;
     
  }
  
  .lead {
      font-size: 20px;
      font-weight: 400;
      color: #333333;
  }
  .lead-white {
      font-size: 26px;
      font-weight: 400;
  }
  
  .section-heading {
      margin-bottom: 10px;
      color: #333333;
    
  }
  
  .section-heading-white {
      margin-bottom: 10px;
    
  }
  
  .section-heading-spacer {
      float: left;
      width: 100px;
      border-top: 3px solid #1297c0;
  }
  
  .section-heading-spacer-white {
      float: left;
      width: 100px;
      border-top: 3px solid #ffffff;
  }



  
.pagination ul {
    margin: 2em auto;
    padding-left: 0;
    list-style-type: none;
}
  
.page-number {
    display: inline;
}
  
.page-number a {
    text-decoration: none;
    color: black;
}

.pagination-3 .page-number {
    margin: 0.25em;
}
  
.pagination-3 .page-number a {
    padding: 0.125em;
}
  
.pagination-3 .active {
    padding: 4px 8px;
    border-radius: 50%;
    background-color: #1297c0;
    color: white;
}
  
.pagination-3 .active a {
    color: white;
}


/* table transaction payment  kinds*/

.text-success {
    color: #0ac33e;
}

.text-danger {
    color:rgb(187, 21, 21);
}
