{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% blocktrans %}
        {{ section.title }}
    {% endblocktrans %}
{% endblock %}
{% block content %}
    <h1>{% trans "My payments" %}</h1>

    <p>
        {% trans "You can make a" %} <a href="{% url "payment:proccess" %}">{% trans "payment" %}</a>
    </p>
    <p>
        {% trans "You can download all your" %} <a href="{% url 'payment:all_csv' %}" target="_blank">CSVs</a>
    </p>
    {% include 'payment/list.html' %}
    {% include "pagination_payment.html" with page=payments %}
{% endblock %}