{% load static %}
{% load i18n %}
{% block content %}
    {% for account in accounts %}
    <div class="box-container">
        <div class="box">
          <h1> {{ account.alias }} <img src="{% static 'img/logo.png' %}" class="logobox"> </h1> 
          <p>{% trans "Code" %}: {{ account.code }} </p>
          <br>
          <p>{% trans "Current Balance" %}: {{ account.balance }} </p>
      
          <div class="box-footer">
            <h4><a href="{{ account.get_absolute_url }}">{% trans "See Details" %}</a></h4>
          </div>
        </div>
    </div>
    {% empty %}
        <p>{% trans "There are no accounts yet" %}.</p>
    {% endfor %}
{% endblock %}