{% block content %}
    <div class="transaction">
        <table class="caption-top">
            <caption>Transactions Summary</caption>
            <thead>
                <tr>
                    <th scope="col">Sender</th>
                    <th scope="col">CAC</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Created</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td data-label="Sender">{{ transaction.sender }}</td>
                        <td data-label="CAC">{{ transaction.cac }}</td>
                        <td data-label="Amount">€{{ transaction.amount }}</td>
                        <td data-label="Created">{{ transaction.timeStamp }}</td>
                    </tr>
                {% empty %}
                {% endfor %}
            </tbody>
        </table>
        <br>
    </div>
{% endblock %}