{% load i18n %}
{% load static %}
<html>
<body>
  <h1>Gameda Bank</h1>
  <img src="{% static 'img/logo.png' %}" alt="" class="logo-pdf">
  <p>
    {% trans "Transaction ID" %}: {{ transaction.id }}<br>
    <span class="secondary">
      {{ transaction.timeStamp|date:"M d, Y" }}
    </span>
  </p>
  <h3>{% trans "Sender Information" %}</h3>
  <p>
    {% trans "Sender" %}: {{ transaction.sender }}<br>
    CAC: {{ transaction.cac }}<br>
    {% trans "Amount" %}: €{{ transaction.amount }}
  </p>
  <h3>{% trans "Transaction Details" %}</h3>
  <table>
    <thead>
      <tr>
        <th>{% trans "Concept" %}</th>
        <th>{% trans "Commissions" %}</th>
        <th>{% trans "Kind" %}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ transaction.concept }}</td>
        <td>{{ transaction.commission }}</td>
        <td>{{ transaction.get_kind_display }}</td>
      </tr>
    </tbody>
  </table>
</body>
</html>
