{% load i18n %}
{% block content %}
    <div class="payment">
        <table class="caption-top">
            <caption>{% trans "Payment Summary" %}</caption>
            <thead>
                <tr>
                    <th scope="col">{% trans "Business" %}</th>
                    <th scope="col">{% trans "Card" %}</th>
                    <th scope="col">{% trans "Amount" %}</th>
                    <th scope="col">{% trans "Created" %}</th>
                    <th scope="col">{% trans "Commission" %}</th>
                    <th scope="col">PDF</th>
                    <th scope="col">CSV</th>  
                </tr>
            </thead>
            <tbody>
                {% for payment in payments %}
                    <tr>
                        <td data-label="Business">{{ payment.business }}</td>
                        <td data-label="Card">{{ payment.ccc }}</td>
                        <td data-label="Amount" class="text-danger">{{ payment.amount }}€</td>
                        <td data-label="Created">{{ payment.created }}</td>
                        <td data-label="Commission">{{ payment.commission }}€</td>
                        <td data-label="PDF">
                            <a href="{% url 'payment:pdf' payment.id %}" target="_blank">{% trans "Download" %} PDF</a>
                        </td>
                        <td data-label="CSV">
                            <a href="{% url 'payment:csv' payment.id %}" target="_blank">{% trans "Download" %} CSV</a>
                        </td>
                    </tr>
                {% empty %}
                {% endfor %}
            </tbody>
        </table>
        <br>
    </div>
{% endblock %}