{% load i18n %}
<html>
<body>
  <h1>Gameda Bank</h1>
  <p>
    {% trans "Payment ID" %}: {{ payment.id }}<br>
    <span class="secondary">
      {{ payment.created|date:"M d, Y" }}
    </span>
  </p>
  <h3>{% trans "Payment Information" %}</h3>
  <p>
    {% trans "Card Number" %}: {{ payment.ccc }}<br>
    {% trans "Amount" %}: €{{ payment.amount }}
  </p>
  <h3>{% trans "Payment Details" %}</h3>
  <table>
    <thead>
      <tr>
        <th>{% trans "Concept" %}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ payment.business }}</td>
      </tr>
    </tbody>
  </table>
</body>
</html>
