{% load i18n %}
{% load static %}
<html>
<body>
  <h1>Gameda Bank</h1>
  <img src="{% static 'img/logo.png' %}" alt="" class="logo-pdf">
  <p>
    {% trans "Payment ID" %}: {{ payment.id }}<br>
    <span class="secondary">
      {{ payment.created|date:"M d, Y" }}
    </span>
  </p>
  <h3>{% trans "Payment Information" %}</h3>
  <p>
    {% trans "Card Number" %}: {{ payment.ccc }}<br>
    {% trans "Amount" %}: €{{ payment.amount }}
  </p>
  <h3>{% trans "Payment Details" %}</h3>
  <table>
    <thead>
      <tr>
        <th>{% trans "Business" %}</th>
        <th>{% trans "Commission" %}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ payment.business }}</td>
        <td>{{ payment.commission }}€</td>
      </tr>
    </tbody>
  </table>
</body>
</html>
