<html>
<body>
  <h1>Gameda Bank</h1>
  <p>
    Payment ID: {{ payment.id }}<br>
    <span class="secondary">
      {{ payment.created|date:"M d, Y" }}
    </span>
  </p>
  <h3>Payment Information</h3>
  <p>
    Card Number: {{ payment.ccc }}<br>
    Amount: €{{ payment.amount }}
  </p>
  <h3>Payment Details</h3>
  <table>
    <thead>
      <tr>
        <th>Concept</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ payment.business }}</td>
      </tr>
    </tbody>
  </table>
</body>
</html>
